body {
    display: flex;
}

.left-container {
    height: 100vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("background_image.jpeg"); 
}

.right-container {
    height: 100vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(236, 225, 243);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right-container > div {
    padding: 4ch;
    color: rgb(80, 73, 86);
    font-weight: 600;
}

#herobox {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    top: 19em;
}
#icon {
    color: white;
}

#title {
    color: white;
    font-family: new-font, sans-serif;
    letter-spacing: 0.1em;
    font-size: 32px;
    margin-left: 1em;
}

form {
    background-color: white;
    padding: 2ch 4ch;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    border: 1px solid rgb(243, 243, 243);
    color: rgb(80, 73, 86);
}
label {
    position: absolute;
}

form > p {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

input {
    width: 200px;
    border: 1px solid rgb(237, 237, 237);
    padding: 4px;
    border-radius: 4px;
    margin-right: 4em;
    margin-top: 16px;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(174, 123, 232);
    border-style: none;
    font-weight: 600;
    width: 170px;
    padding: 12px 24px;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.05s ease-out, box-shadow;
    margin-top: 2em;

}



#login {
    margin-left: 4ch;
}

a {
    color: rgb(97, 72, 114);
    font-weight: 600;
    text-decoration: none;
}

input:focus {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(97, 72, 114);
}

button:active {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transform: translate(3px, 3px);
    background-color: rgb(142, 99, 190);
}

input:invalid {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.1);
}

@font-face {
    font-family: new-font;
    src: url(Potta_One/PottaOne-Regular.ttf)
}
